/* Colors */

$color-primary: #2f4454;
$color-primary-light: #376E6F;
$color-primary-dark: #1C3334;

$color-gray-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-grey-dark-3: #433f3f;
$color-white: #fff;
$color-pink: #ff652f;
//$color-pink: #d64e70;
$color-pink-dark: #982700;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


